/* Home Page */

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar {
    padding: 2em 5em;
}

.navbar .link {
    margin: 1em 1em;
}

#home-banner {
    max-width: 100%;
    padding: 6em 0 12em;
    justify-content: center;
}

h1 {
    font-weight: 900;
    color:#FFC30B;
}

h2 {
    font-weight: 900;
    color:#FFC30B;
}

.intro-text {
    margin: auto 4em;
    font-size: 1.75em;
}

.featured-projects .card {
    margin: 5em 0;
    clear: both;
}

.featured-projects .card h3 {
    float: left;
}

.featured-projects p {
    clear: both;
}

.view-project-link {
    float: right;
}

.icons-container {
    display: flex;
    justify-content: center;
}

ion-icon {
    transform: scale(1.5);
    margin: 1em 2em;
}

ion-icon:hover {
    color: #FFC30B;
}

.copyright {
    display: flex;
    justify-content: center;
}

/* Projects Page */

.projects .card{
    margin: 2em 0;
    clear: both;
}

/* Project Detail Page */
.project-banner {
    max-width: 100%;
    margin: 4em auto;
    justify-content: center;
}

.project-skills {
    margin: 3em auto;
    max-width: 100%;
    justify-content: center;
}

.project-skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project-details {
    margin: 5em auto;
}

.detail {
    margin: 3em auto;
    max-width: 100%;
    justify-content: center;
}

.about-me-banner {
    margin: 5em auto;
    justify-content: center;
}

.about-me-details {
    margin: 5em 22%;
    justify-content: center;
}

/* Contacts Page */

.contact-info {
    display: block;
    margin: 1em 0;
}

.contact-info ion-icon {
    margin: 0 0;
}

/* .contact-info span {
    margin: 0;
    padding: 0;
    margin-top: 1%;
    float: right;
} */

/* Other CSS */

a {
    color: #000000;
}

.highlight-link:hover {
    transition: ease 0.5s;
    background-color: #FFE084;
}

/* CSS Animations */

#home-banner {
    animation: fadeInAnimation ease 3s
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card:hover {
    box-shadow: 5px 5px #c0c0c0;
    cursor: pointer;
}
