/* CSS Document */
/* Styles*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;
}

a {
    color: #79B586;
    text-decoration: none;
}

a:hover {
    color: #79B586;
    text-decoration: underline;
}

#top_row h1 {
    color: #79B586;
    font-size: 3.75em;
    letter-spacing: -2px;
}

#top_row h3 {
    font-size: 1.125em;
    font-weight: 200;
}

#bio {
    margin-left: 3em;
    font-size: .875em;
}

#bio a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000;
}

#bio a:hover {
    color: #79B586;
}

#container {
    width: 70%;
    margin: 10px auto;
}

#top_row {
    border-bottom: 1px dotted #ccc;
    padding: .5em .5em 3em .5em;
}

#top_row header {
    margin-bottom: -2.5em;
}

#top_row nav {
    float: right;
}

#top_row nav a {
    font-size: 1.25em;
    font-weight: 400;
    padding: 15px;
    color: #000000;
}

#top_row nav a.selected {
    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a.selected:hover {
    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a:hover {
    background: #f6f6f6;
    color: #79B586;
}

#content {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em;
    border-right: 1px dotted #ccc;
}

#content h3 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    margin: 30px 0 10px 0;
    font-weight: normal;
}

#content img {
    float: left;
    margin: 1em;
}

#sidebar {
    float: left;
    padding: 1em;
    font-size: .875em;
}

#sidebar h3 {
    font-size: 1.125em;
    border-bottom: 1px dotted #ccc;
}

footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333333;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
    border-top: 1px dotted #cccccc;
}

#content table {
    width: 75%;
    border: 3px solid #9BE8AC;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    border-spacing: 0px;
    padding: 3px;
}

#content th {
    height: 40px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    border: 1px solid #333333;
}

#content td {
    padding: 2px;
    text-align: center;
    border: 1px solid #333333;
}

#content form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #9BE8AC;
    padding: 10px 10px 10px 10px;
}

#content legend {
    font-weight: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

#content label {
    font-weight: bold;
    text-align: center;
}

html {
    overflow-y: scroll;
}

iframe {
    display: block;
    margin: auto;
}

.responsive {
    max-width: 100%;
    height: auto;
}